@model Inventory.Models.PurchaseOrder
@{
    var title = "Create Purchase Order";
    List<Product> productList = ViewData["product"] as List<Product>;
    int branchId = Convert.ToInt32(ViewData["branchId"]);
}

<style>
    .table td, .table th {
        padding: 0;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-five-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-five-overlay-tab" data-toggle="pill" href="#custom-tabs-five-overlay" role="tab" aria-controls="custom-tabs-five-overlay" aria-selected="true">Purchase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-five-normal-tab" data-toggle="pill" href="#custom-tabs-five-normal" role="tab" aria-controls="custom-tabs-five-normal" aria-selected="false">Details</a>
                    </li>
                </ul>
            </div>
            <form method="post" asp-action="Upsert">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.PurchaseOrderId != 0)
                {
                    <input type="hidden" asp-for="PurchaseOrderId" value="@Model.PurchaseOrderId" />
                    title = "Edit Purchase Order";
                }
                <div class="col-12">
                    <h2 class="text-primary">@title</h2>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-five-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-five-overlay" role="tabpanel" aria-labelledby="custom-tabs-five-overlay-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PurchaseOrderName" class="control-label"></label>
                                        <input asp-for="PurchaseOrderName" class="form-control" placeholder="Generated automatically" readonly />
                                        @*  <input asp-for="PurchaseOrderName" placeholder="Generated automatically" class="form-control"/>
                                        <span asp-validation-for="PurchaseOrderName" class="text-danger"></span> *@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="BranchId" class="control-label"></label>
                                        @if(Model.BranchId!=0)
                                        {
                                            <input name="SelectedBranchId" id="SelectedBranchId" value="@Model.BranchId" class="d-none" />

                                        }
                                        else
                                        {
                                            <input name="SelectedBranchId" id="SelectedBranchId" value="@branchId" class="d-none" />

                                        }
                                        <select asp-for="BranchId" class="form-control">
                                            <option value="">--Please Select Branch--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="VendorId" class="control-label"></label>
                                        <input name="SelectedVendorId" id="SelectedVendorId" value="@Model.VendorId" class="d-none" />
                                        <select asp-for="VendorId" class="form-control">
                                            <option value="">--Please Select Vendor--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="OrderDate" class="control-label"></label>
                                        <input asp-for="OrderDate" class="form-control" type="date" pattern="\d{4}-\d{2}-\d{2}" title="Please enter a valid date in the format MM-DD-YYYY" />
                                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="DeliveryDate" class="control-label"></label>
                                        <input asp-for="DeliveryDate" class="form-control" type="date" pattern="\d{4}-\d{2}-\d{2}" title="Please enter a valid date in the format MM-DD-YYYY" />
                                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="CurrencyId" class="control-label"></label>
                                        <input name="SelectedCurrencyId" id="SelectedCurrencyId" value="@Model.CurrencyId" class="d-none" />
                                        <select asp-for="CurrencyId" class="form-control">
                                            <option value="">--Please Select Currency--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="PurchaseTypeId" class="control-label"></label>
                                        <input name="SelectedPurchaseTypeId" id="SelectedPurchaseTypeId" value="@Model.PurchaseTypeId" class="d-none" />
                                        <select asp-for="PurchaseTypeId" class="form-control">
                                            <option value="">--Please Select Purchase Type--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Remarks" class="control-label"></label>
                                        <input asp-for="Remarks" class="form-control" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="SubTotal" class="control-label"></label>
                                        <input asp-for="SubTotal" class="form-control" readonly />
                                        <span asp-validation-for="SubTotal" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Tax" class="control-label"></label>
                                        <input asp-for="Tax" class="form-control" readonly />
                                        <span asp-validation-for="Tax" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Amount" class="control-label"></label>
                                        <input asp-for="Amount" class="form-control" readonly />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Discount" class="control-label"></label>
                                        <input asp-for="Discount" class="form-control" readonly />
                                        <span asp-validation-for="Discount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               @*  <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Freight" class="control-label"></label>
                                        <input asp-for="Freight" class="form-control" readonly />
                                        <span asp-validation-for="Freight" class="text-danger"></span>
                                    </div>
                                </div> *@
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Total" class="control-label"></label>
                                        <input asp-for="Total" class="form-control" readonly />
                                        <span asp-validation-for="Total" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    @if (Model.PurchaseOrderId != 0)
                                    {
                                        <partial name="_EditAndBackToListButton" model="Model.PurchaseOrderId" />
                                    }
                                    else
                                    {
                                        <partial name="_CreateAndBackToListButton" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-five-normal" role="tabpanel" aria-labelledby="custom-tabs-five-normal-tab">
                            <button type="button" id="addProduct" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Add Product</button>
                            <table class="table table-bordered" id="productDetails" width="100%">
                                <thead>
                                    <tr>
                                        <th width="5%">Sl</th>
                                        <th width="15%">Product</th>
                                        <th width="8%">Price</th>
                                        <th width="8%">Quantity</th>
                                        <th width="8%">SubTotal</th>
                                        <th width="8%">Tax %</th>
                                        <th width="8%">Tax Amount</th>
                                        <th width="8%">Amount</th>
                                        <th width="8%">Discount %</th>
                                        <th width="8%">Discount Amount</th>
                                        <th width="8%">Total</th>
                                        <th width="8%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.PurchaseOrderLines != null)
                                    {
                                        for (int i = 0; i < Model.PurchaseOrderLines.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @(
                                                        i + 1
                                                        )
                                                    <input type="text" readonly name="PurchaseOrderLines[@i].PurchaseOrderLineId" value="@Model.PurchaseOrderLines[@i].PurchaseOrderLineId" class="form-control d-none purchaseOrderLineId">
                                                    <input type="text" readonly name="PurchaseOrderLines[@i].PurchaseOrderId" value="@Model.PurchaseOrderLines[@i].PurchaseOrderId" class="form-control d-none purchaseOrderId">

                                                </td>
                                                <td>
                                                    <select name="PurchaseOrderLines[@i].ProductId" class="form-control product-dropdown">
                                                        <option value="">Select Product</option>

                                                        @foreach (var item in productList)
                                                        {
                                                            if (item.Id == Model.PurchaseOrderLines[i].ProductId)
                                                            {
                                                                <option value="@item.Id" selected>@item.ProductName</option>

                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.ProductName</option>

                                                            }

                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" readonly name="PurchaseOrderLines[@i].Price" value="@Model.PurchaseOrderLines[@i].Price" class="form-control price" id="priceInput-@i">
                                                    <button onclick="enableEdit(@i)">Edit</button>
                                                </td>

                                                <td><input type="text" name="PurchaseOrderLines[@i].Quantity" value="@Model.PurchaseOrderLines[@i].Quantity" class="form-control quantity"></td>
                                                <td><input type="text" readonly name="PurchaseOrderLines[@i].SubTotal" value="@Model.PurchaseOrderLines[@i].SubTotal" class="form-control subTotal"></td>
                                                <td><input type="text" name="PurchaseOrderLines[@i].TaxPercentage" value="@Model.PurchaseOrderLines[@i].TaxPercentage" class="form-control tax"></td>
                                                <td><input type="text" readonly name="PurchaseOrderLines[@i].TaxAmount" value="@Model.PurchaseOrderLines[@i].TaxAmount" class="form-control taxAmount"></td>
                                                <td><input type="text" readonly name="PurchaseOrderLines[@i].Amount" value="@Model.PurchaseOrderLines[@i].Amount" class="form-control amount"></td>
                                                <td><input type="text" name="PurchaseOrderLines[@i].DiscountPercentage" value="@Model.PurchaseOrderLines[@i].DiscountPercentage" class="form-control discount"></td>
                                                <td><input type="text" readonly name="PurchaseOrderLines[@i].DiscountAmount" value="@Model.PurchaseOrderLines[@i].DiscountAmount" class="form-control discountAmount"></td>
                                                <td><input type="text" readonly name="PurchaseOrderLines[@i].Total" value="@Model.PurchaseOrderLines[@i].Total" class="form-control total"></td>
                                                <td><button type="button" class="ibtnDel btn btn-danger">Delete</button></td>
                                            </tr>
                                        }
                                    }
                                    <!-- This is where the dynamic rows will be added -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /.card -->
        </div>
    </div>
</div>
<!-- /.row -->
@section Scripts {
    <script>
        // Counter for dynamic row IDs
        var counter = 0;
        $(document).ready(function () {
            loadBranch();
            loadVendor();
            loadCurrency();
            loadPurchaseType();
            loadPurchaseOrder();
            loadProduct();
            enableEdit(index);
            disableEdit(index);
                
            loadProductsIntoDropdown(function (products) {

                // Iterate over each row in the tbody
                $('#productDetails tbody tr').each(function (index, element) {
                    // 'index' is the current iteration index
                    // 'element' is the current TR element

                    // Your existing code for populating the product dropdown and attaching event handlers
                    var newRow = $(element);

                    // Populate the product dropdown
                    var productDropdown = newRow.find('.product-dropdown');
                    addProductOptionsToDropdownInEditMode(productDropdown, products, newRow.find('.product-dropdown').val());

                    // Event handler for changes in product or quantity
                    productDropdown.change(function () {
                        updatePriceAndTotal(newRow);
                    });

                    newRow.find('.quantity, .discount, .tax').change(function () {
                        updatePriceAndTotal(newRow);
                    });

                    // You can add more code here specific to each row if needed
                });
            });
            updateTotalAmount();
        });
        function enableEdit(index) {
            var priceInput = document.getElementById('priceInput-' + index);
            priceInput.removeAttribute('readonly');
            priceInput.focus(); // Optionally, set focus to the input field after enabling editing.
        }
        function loadProduct() {
            $.ajax({
                type: "GET",
                url: "/Products/GetAll", // Replace with the correct URL
                success: function (data) {
                    var productDropdown = $("#ProductId");
                    productDropdown.empty();
                    productDropdown.append(
                        $('<option disabled selected></option>').val('').text('--Please Select Product--')
                    );
                    for (let index = 0; index < data.data.length; index++) {
                        const product = data.data[index];
                        productDropdown.append(
                            $('<option></option>').val(product.id).text(product.productName)
                        );
                    }
                },
                error: function (error) {
                    console.error("Error loading products: " + error);
                }
            });
        }
        function loadBranch() {
            $.ajax({
                type: "GET",
                url: "/Branches/GetAll", // Replace with the correct URL
                success: function (data) {
                    var branchDropdown = $("#BranchId");
                    var selectedValue = $("#SelectedBranchId").val();
                    branchDropdown.empty();
                    branchDropdown.append(
                        $('<option disabled selected></option>').val('').text('--Please Select Branch--')
                    );
                    for (let index = 0; index < data.data.length; index++) {
                        const branch = data.data[index];
                        var option = $('<option></option>').val(branch.id).text(branch.branchName);
                        if (branch.id == selectedValue) {
                            option.attr('selected', 'selected');
                        }
                        branchDropdown.append(option);
                    }


                },
                error: function (error) {
                    console.error("Error loading branches: " + error);
                }
            });
        }
        function loadVendor() {
            $.ajax({
                type: "GET",
                url: "/Vendors/GetAll", // Replace with the correct URL
                success: function (data) {
                    var vendorDropdown = $("#VendorId");
                    var selectedValue = $("#SelectedVendorId").val();
                    vendorDropdown.empty();
                    vendorDropdown.append(
                        $('<option disabled selected></option>').val('').text('--Please Select Vendor--')
                    );
                    for (let index = 0; index < data.data.length; index++) {
                        const vendor = data.data[index];
                        var option = $('<option></option>').val(vendor.id).text(vendor.vendorName);
                        if (vendor.id == selectedValue) {
                            option.attr('selected', 'selected');
                        }
                        vendorDropdown.append(option);
                    }


                },
                error: function (error) {
                    console.error("Error loading vendors: " + error);
                }
            });
        }
        function loadCurrency() {
            $.ajax({
                type: "GET",
                url: "/Currencies/GetAll", // Replace with the correct URL
                success: function (data) {
                    // console.log(data);
                    var currencyDropdown = $("#CurrencyId");
                    var selectedValue = $("#SelectedCurrencyId").val();
                    currencyDropdown.empty();
                    currencyDropdown.append(
                        $('<option disabled selected></option>').val('').text('--Please Select currency--')
                    );
                    for (let index = 0; index < data.data.length; index++) {
                        const currency = data.data[index];
                        var option = $('<option></option>').val(currency.currencyId).text(currency.currencyName);
                        if (currency.currencyId == selectedValue) {
                            option.attr('selected', 'selected');
                        }
                        currencyDropdown.append(option);
                    }


                },
                error: function (error) {
                    console.error("Error loading purchase types: " + error);
                }
            });
        }
        function loadPurchaseType() {
            $.ajax({
                type: "GET",
                url: "/PurchaseTypes/GetAll", // Replace with the correct URL
                success: function (data) {
                    // console.log(data);
                    var purchaseTypeDropdown = $("#PurchaseTypeId");
                    var selectedValue = $("#SelectedPurchaseTypeId").val();
                    purchaseTypeDropdown.empty();
                    purchaseTypeDropdown.append(
                        $('<option disabled selected></option>').val('').text('--Please Select Purchase Type--')
                    );
                    for (let index = 0; index < data.data.length; index++) {
                        const purchaseType = data.data[index];
                        var option = $('<option></option>').val(purchaseType.purchaseTypeId).text(purchaseType.purchaseTypeName);
                        if (purchaseType.purchaseTypeId == selectedValue) {
                            option.attr('selected', 'selected');
                        }
                        purchaseTypeDropdown.append(option);
                    }


                },
                error: function (error) {
                    console.error("Error loading purchase types: " + error);
                }
            });
        }
        function loadPurchaseOrder() {
            $.ajax({
                type: "GET",
                url: "/PurchaseOrders/GetAll", // Replace with the correct URL
                success: function (data) {
                    // console.log(data);
                    var purchaseOrderDropdown = $("#PurchaseOrderId");
                    purchaseOrderDropdown.empty();
                    purchaseOrderDropdown.append(
                        $('<option disabled selected></option>').val('').text('--Please Select Purchase Order--')
                    );
                    for (let index = 0; index < data.data.length; index++) {
                        const purchaseOrder = data.data[index];
                        purchaseOrderDropdown.append(
                            $('<option></option>').val(purchaseOrder.id).text(purchaseOrder.purchaseOrderName)
                        );
                    }
                },
                error: function (error) {
                    console.error("Error loading purchase orders: " + error);
                }
            });
        }



        // Fetch products via AJAX
        function loadProductsIntoDropdown(callback) {
            $.ajax({
                url: '@Url.Action("GetAll", "Products")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    callback(data);
                }
            });
        }

        // Add product options to the dropdown
        function addProductOptionsToDropdown(dropdown, products) {
            dropdown.empty();
            dropdown.append($('<option>').val('').text('Select Product'));
            $.each(products.data, function (index, product) {
                dropdown.append($('<option>').val(product.id).text(product.productName).data('price', product.defaultSellingPrice));
            });
        }
        // Add product options to the dropdown
        function addProductOptionsToDropdownInEditMode(dropdown, products, value) {
            dropdown.empty();
            dropdown.append($('<option>').val('').text('Select Product'));
            $.each(products.data, function (index, product) {
                var option = $('<option>').val(product.id).text(product.productName).data('price', product.defaultSellingPrice);

                // Check if the current product id matches the specified value
                if (product.id == value) {
                    option.prop('selected', true);
                }

                dropdown.append(option);
            });
        }

        // Update price and calculate total when product or quantity changes
        function updatePriceAndTotal(row) {
            var quantity = parseFloat(row.find('.quantity').val()) || 0;
            var price = parseFloat(row.find('.product-dropdown option:selected').data('price')) || 0;
            var subTotal = parseFloat(row.find('.subTotal').val()) || 0;
            var tax = parseFloat(row.find('.tax').val()) || 0;
            var taxAmount = parseFloat(row.find('.taxAmount').val()) || 0;
            var amount = parseFloat(row.find('.amount').val()) || 0;
            var discount = parseFloat(row.find('.discount').val()) || 0;
            var discountAmount = parseFloat(row.find('.discountAmount').val()) || 0;
            var total = parseFloat(row.find('.total').val()) || 0;

            subTotal = (quantity * price);
            taxAmount = (quantity * price) * (tax / 100);
            amount = (subTotal + taxAmount);
            discountAmount = (quantity * price) * (discount / 100);
            total = subTotal + taxAmount - discountAmount;

            row.find('.price').val(price.toFixed(2));
            row.find('.subTotal').val(subTotal.toFixed(2));
            row.find('.taxAmount').val(taxAmount.toFixed(2));
            row.find('.amount').val(amount.toFixed(2));
            row.find('.discountAmount').val(discountAmount.toFixed(2));
            row.find('.total').val(total.toFixed(2));
            updateTotalAmount();

        }
        function updateTotalAmount() {
            var subTotalSum = 0;
            var amountSum = 0;
            var discountAmountSum = 0;
            var taxAmountSum = 0;
            var totalSum = 0;


            $("#productDetails tbody tr").each(function () {
                var subTotal = parseFloat($(this).find('.subTotal').val()) || 0;
                var taxAmount = parseFloat($(this).find('.taxAmount').val()) || 0;
                var amount = parseFloat($(this).find('.amount').val()) || 0;
                var discountAmount = parseFloat($(this).find('.discountAmount').val()) || 0;
                var total = parseFloat($(this).find('.total').val()) || 0;

                subTotalSum += subTotal;
                taxAmountSum += taxAmount;
                amountSum += amount;
                discountAmountSum += discountAmount;
                totalSum += total;

            });

            $("#SubTotal").val(subTotalSum.toFixed(2));
            $("#Tax").val(taxAmountSum.toFixed(2));
            $("#Amount").val(amountSum.toFixed(2));
            $("#Discount").val(discountAmountSum.toFixed(2));
            $("#Total").val(totalSum.toFixed(2));
        }

        $("#addProduct").click(function () {

            counter = $('#productDetails tbody tr').length??0;
            console.log(counter);

           
            // Load products into dropdown
            loadProductsIntoDropdown(function (products) {
                var newRow = $("<tr>");
                var cols = "";
                // Serial No column
                cols += '<td>' + (counter + 1) + '</td>';
                // Rest of the columns
                cols += '<td><select name="PurchaseOrderLines[' + counter + '].ProductId" class="form-control product-dropdown"></select></td>';
                cols += '<td><input readonly type="text" name="PurchaseOrderLines[' + counter + '].Price" class="form-control price" /></td>';
                cols += '<td><input type="text" name="PurchaseOrderLines[' + counter + '].Quantity" class="form-control quantity" /></td>';
                cols += '<td><input readonly type="text" name="PurchaseOrderLines[' + counter + '].SubTotal" class="form-control subTotal" /></td>';
                cols += '<td><input type="text" name="PurchaseOrderLines[' + counter + '].TaxPercentage" class="form-control tax" /></td>';
                cols += '<td><input readonly type="text" name="PurchaseOrderLines[' + counter + '].TaxAmount" class="form-control taxAmount" /></td>';
                cols += '<td><input readonly type="text" name="PurchaseOrderLines[' + counter + '].Amount" class="form-control amount" /></td>';
                cols += '<td><input type="text" name="PurchaseOrderLines[' + counter + '].DiscountPercentage" class="form-control discount" /></td>';
                cols += '<td><input readonly type="text" name="PurchaseOrderLines[' + counter + '].DiscountAmount" class="form-control discountAmount" /></td>';
                cols += '<td><input readonly type="text" name="PurchaseOrderLines[' + counter + '].Total" class="form-control total" /></td>';
                cols += '<td><button type="button" class="ibtnDel btn btn-danger">Delete</button></td>';
                newRow.append(cols);
                $("#productDetails tbody").append(newRow);

                // Populate the product dropdown
                var productDropdown = newRow.find('.product-dropdown');
                addProductOptionsToDropdown(productDropdown, products);

                // Event handler for changes in product or quantity
                productDropdown.change(function () {
                    updatePriceAndTotal(newRow);
                });

                newRow.find('.quantity, .discount, .tax').change(function () {
                    updatePriceAndTotal(newRow);
                });
                counter++;
            });
        });

        $("#productDetails").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1;
            $("#productDetails tbody tr").each(function (index) {
                $(this).find('td:first').text(index + 1);
            });
        });
    </script>
}

