@using Inventory.MainMenu;
<!-- Main Sidebar Container -->
@* <aside class="main-sidebar sidebar-dark-primary elevation-4"> *@
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="height: 100%; overflow-y: auto;">
  
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/dist/img/logo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light"><b>Inven</b>Tory</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">
                    DASHBOARD
                </li>
                <li class="nav-item menu-open">
                    <a href="@MainMenu.Dashboard.Path" class="nav-link">
                        <i class="nav-icon fas fa-pie-chart"></i>
                        <p>
                            @MainMenu.Dashboard.PageName
                        </p>
                    </a>
                </li>

            

               <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>
                            INVENTORY
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@MainMenu.Product.Path" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.Product.PageName
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@MainMenu.ProductType.Path" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.ProductType.PageName
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@MainMenu.UnitOfMeasure.Path" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.UnitOfMeasure.PageName
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link">
                        <p>
                            PURCHASE
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

              <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Vendors" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>
                            @MainMenu.Vendor.PageName
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@MainMenu.VendorType.Path" class="nav-link">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>
                            @MainMenu.VendorType.PageName
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@MainMenu.PurchaseType.Path" class="nav-link">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>
                            @MainMenu.PurchaseType.PageName
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@MainMenu.PurchaseOrder.Path" class="nav-link">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>
                            @MainMenu.PurchaseOrder.PageName
                        </p>
                    </a>
                </li>
              </ul>
             </li>

                  <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>
                                SALES
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@MainMenu.Customer.Path" class="nav-link">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>
                            @MainMenu.Customer.PageName
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@MainMenu.CustomerType.Path" class="nav-link">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>
                            @MainMenu.CustomerType.PageName
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@MainMenu.SalesType.Path" class="nav-link">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>
                            @MainMenu.SalesType.PageName
                        </p>
                    </a>
                </li>
                </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>
                            CONFIG
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@MainMenu.BillType.Path" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.BillType.PageName
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Branches" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.Branch.PageName
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@MainMenu.Currency.Path" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.Currency.PageName
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@MainMenu.CashBank.Path" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.CashBank.PageName
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@MainMenu.InvoiceType.Path" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.InvoiceType.PageName
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="PaymentTypes" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.PaymentType.PageName
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@MainMenu.ShipmentType.Path" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.ShipmentType.PageName
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@MainMenu.Warehouse.Path" class="nav-link">
                                <i class="nav-icon fas fa-tag"></i>
                                <p>
                                    @MainMenu.Warehouse.PageName
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>

             
              
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
